{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <!--<th>Name</th>-->
                <th>Quantity Owned</th>
                <th>Share Price</th>
                <th>Total</th>
                <th>Remaining Balance</th>
            </tr>
        </thead>
        <tbody>
            {% for row in database %}
            <tr>
                <td id="test"><strong>{{ row["symbol"] }}</strong></td>
                <!--<td>{{ row["companyName"] }}</td>-->
                <td>{{ row["shares"] }}</td>
                <td>{{ row["price"] | usd }}</td>
                <td></td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><strong>{{ cash | usd}}</strong></td>
            </tr>
        </tfoot>

    </table>
{% endblock %}
