{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
            <tr>
                <td id="test"><strong>{{ stock["symbol"] }}</strong></td>
                <td id="td-wide">{{ stock["name"] }}</td>
                <td>{{ stock["ownedShares"] }}</td>
                <td>{{ stock["price"] | usd }}</td>
                <td>{{ usd(stock["ownedShares"] * stock["price"]) }}</b></td>
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><strong>Cash</strong></td>
                <td>{{ cash | usd}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td id="total">TOTAL</td>
                <td id="total">{{ total | usd }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
